//v1.0
@mixin animations-keyframes {

  @keyframes fade-in { 0%{ opacity: 0 } 100%{ opacity: 1 } }
  @keyframes un-fade-in { 100%{ opacity: 0 } 0%{ opacity: 1 } }

  @keyframes fade-out { 0%{ opacity: 1 } 100%{ opacity: 0 } }

  @keyframes slide-down { 0%{ opacity: 0; transform: translateY(-$animation-offset-rem) } 100%{ opacity: 1; transform: none }}
  @keyframes un-slide-down { 100%{ opacity: 0; transform: translateY(-$animation-offset-rem) } 0%{ opacity: 1; transform: none }}

  @keyframes slide-up { 0%{ opacity: 0; transform: translateY($animation-offset-rem) } 100%{ opacity: 1; transform: none }}
  @keyframes un-slide-up { 100%{ opacity: 0; transform: translateY($animation-offset-rem) } 0%{ opacity: 1; transform: none }}

  @keyframes slide-right { 0%{ opacity: 0; transform: translateX(-$animation-offset-rem) } 100%{ opacity: 1; transform: none }}
  @keyframes un-slide-right { 100%{ opacity: 0; transform: translateX(-$animation-offset-rem) } 0%{ opacity: 1; transform: none }}

  @keyframes slide-left { 0%{ opacity: 0; transform: translateX($animation-offset-rem) } 100%{ opacity: 1; transform: none }}
  @keyframes un-slide-left { 100%{ opacity: 0; transform: translateX($animation-offset-rem) } 0%{ opacity: 1; transform: none }}

  @keyframes slide-from-top { 0%{ opacity: 0; transform: translateY(-$animation-offset) } 100%{ opacity: 1; transform: none }}
  @keyframes slide-from-bottom { 0%{ opacity: 0; transform: translateY($animation-offset) } 100%{ opacity: 1; transform: none }}
  @keyframes slide-from-left { 0%{ opacity: 0; transform: translateX(-$animation-offset) } 100%{ opacity: 1; transform: none }}
  @keyframes slide-from-left-only { 0%{ transform: translateX(-$animation-offset/2) } 100%{ transform: none }}
  @keyframes slide-from-right { 0%{ opacity: 0; transform: translateX($animation-offset) } 100%{ opacity: 1; transform: none }}
  @keyframes slide-from-right-only { 0%{ transform: translateX($animation-offset/2) } 100%{ transform: none }}
  @keyframes slide-to-top { 0%{ opacity: 1; transform: none } 100%{ opacity: 0; transform: translateY($animation-offset) }}
  @keyframes slide-to-bottom { 0%{ opacity: 1; transform: none } 100%{ opacity: 0; transform: translateY(-$animation-offset) }}
  @keyframes slide-to-left { 0%{ opacity: 1; transform: none } 100%{ opacity: 0; transform: translateX(-$animation-offset) }}
  @keyframes slide-to-left-only { 0%{ transform: none } 100%{ transform: translateX(-$animation-offset/2) }}
  @keyframes slide-to-right { 100%{ opacity: 0; transform: translateX($animation-offset) } 0%{ opacity: 1; transform: none }}
  @keyframes slide-to-right-only { 100%{ transform: translateX($animation-offset/2) } 0%{ transform: none }}

  @keyframes zoom-in { 0%{ opacity: 0; transform: scale(0.8) } 100%{ opacity: 1; transform: none }}
  @keyframes un-zoom-in { 100%{ opacity: 0; transform: scale(0.8) } 0%{ opacity: 1; transform: none }}

  @keyframes scale { 0%{ transform: scale(0) } 100%{ transform: none }}
  @keyframes un-scale { 100%{ transform: scale(0) } 0%{ transform: none }}

  @keyframes zoom-out { 0%{ opacity: 1; transform: none } 100%{ opacity: 0; transform: scale(0.8) }}
  @keyframes un-zoom-out { 100%{ opacity: 1; transform: none } 100%{ opacity: 0; transform: scale(0.8) }}

  @keyframes unzoom-in { 0%{ opacity: 0; transform: scale(1.2) } 100%{ opacity: 1; transform: none }}
  @keyframes un-unzoom-in { 100%{ opacity: 0; transform: scale(1.2) } 0%{ opacity: 1; transform: none }}

  @keyframes unzoom-out { 0%{ opacity: 1; transform: none } 100%{ opacity: 0; transform: scale(1.2) }}
  @keyframes un-unzoom-out { 100%{ opacity: 1; transform: none } 0%{ opacity: 0; transform: scale(1.2) }}

  @keyframes rotate-x { 0%{ opacity: 0; transform: perspective(400px) rotateX(-180deg) } 100%{ opacity: 1; transform: perspective(400px) }}
  @keyframes un-rotate-x { 100%{ opacity: 0; transform: perspective(400px) rotateX(-180deg) } 0%{ opacity: 1; transform: perspective(400px) }}

  @keyframes rotate-y { 0%{ opacity: 0; transform: perspective(400px) rotateY(90deg) } 100%{ opacity: 1; transform: perspective(400px) }}
  @keyframes un-rotate-y { 100%{ opacity: 0; transform: perspective(400px) rotateY(90deg) } 0%{ opacity: 1; transform: perspective(400px) }}

  @keyframes rotate-in { 0%{ opacity: 0; transform: scale(0.8) rotateZ(30deg) } 100%{ opacity: 1; transform: none }}
  @keyframes un-rotate-in { 100%{ opacity: 0; transform: scale(0.8) rotateZ(30deg) } 0%{ opacity: 1; transform: none }}

  @keyframes pop { 0%{ opacity: 0; transform: scale(0,0) } 40%{ opacity: 1 } 60%{ transform: scale(0.9, 1.02) } 80%{ transform: scale(1.02, 0.98) } 100%{ transform: none }}
  @keyframes un-pop { 100%{ opacity: 0; transform: scale(0,0) } 80%{ opacity: 1 } 60%{ transform: scale(0.9, 1.02) } 40%{ transform: scale(1.02, 0.98) } 0%{ transform: none }}
}


@if( $include-animations ){
  @include animations-keyframes;
}

// repeat name and animated properties

$animations :
        fade-in     'opacity',
        slide-down  'opacity, transform',
        slide-up    'opacity, transform',
        slide-left  'opacity, transform',
        slide-right 'opacity, transform',
        zoom-out    'opacity, transform',
        zoom-in     'opacity, transform',
        unzoom-in   'opacity, transform',
        unzoom-out  'opacity, transform',
        rotate-x    'opacity, transform',
        rotate-y    'opacity, transform',
        rotate-in   'opacity, transform',
        pop         'opacity, transform';

$speed-very-fast : $transition-duration/2;
$speed-fast      : $transition-duration;
$speed-slow      : $transition-duration*2;
$speed-very-slow : $transition-duration*4;

