@function overlay($position:'absolute') {

  @return unquote($position+'; left: 0; top: 0; right: 0; bottom: 0');
}

@function center($position:'absolute') {

  @return unquote($position+'; left: 50%; top: 50%; margin-top: -0.5em; margin-left: -0.5em; line-height: 100%');
}