html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0; padding: 0; border: 0; vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6{ font-weight: normal; font-size: inherit }

article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

template {
  display: none;
}

a, input, button {
  &:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  &:focus { outline:none; }
  &::-moz-focus-inner { border:0; }
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

input, textarea {
  outline: none;
}

textarea {
  resize: none;
}

*, *:before, *:after{ box-sizing: border-box }

[block],[element],[mod],[data-if],[data-if-not]{ display: none!important }

.hidden{ visibility: hidden; position: absolute; left: -1px; top: -1px; width: 0; height: 0; opacity: 0.01 }