//require activation.js/animations.scss

@mixin lib-activation {

  [data-animation]{
    &.ui-activation{
      [data-animation]{ animation-play-state: paused }
      &--active, &--seen, &--reset{ [data-animation]{ animation-play-state: running} }
    }
  }

  @each $name, $properties in $animations{
    [data-animation="#{$name}"]{
      &.ui-activation{ animation-play-state: paused;
        &--active, &--seen, &--reset{ animation-play-state: running }
        &--reset{ animation-name: un-#{$name} }
      }
    }
    [data-animation].ui-activation--reset{
      [data-animation="#{$name}"]{ animation-name: un-#{$name} }
      @media #{$media-tablet} {
        [data-tablet-animation="#{$name}"]{ animation-name: un-#{$name} }
      }
      @media #{$media-mobile} {
        [data-mobile-animation="#{$name}"]{ animation-name: un-#{$name} }
      }
    }
  }
}


@if( index($libraries, 'activation') ){
  @include lib-activation;
}
