@mixin lib-align {

  .align{
    &-center, &-c {  text-align: center }
    &-left, &-l {    text-align: left }
    &-right, &-r {   text-align: right }
    &-justify, &-j { text-align: justify }
  }
}


@if( index($libraries, 'align') ){
  @include lib-align;
}