@mixin lib-hide{

  .ui-hide{

    @media #{$media-desktop} {
      &--desktop{ display: none }
    }

    @media #{$media-tablet-only} {
      &--tablet{ display: none }
    }

    @media #{$media-tablet} {
      &--mobile-tablet, &--tablet-mobile{ display: none }
    }

    @media #{$media-mobile} {
      &--mobile{ display: none }
    }
  }
}


@if( index($libraries, 'hide') ){
  @include lib-hide;
}