//v1.5
@mixin lib-popin{

  .ui-popin {
    position: fixed; left: 0; top: 0; width: 100%; overflow: auto;
    height: 100%; z-index: 9999;background: rgba(0,0,0,0.9);
    transition: allow(opacity); text-align: center; opacity: 0;

    &__trigger, &__close { cursor: pointer }

    > .valign { width: 100% }

    &__content{
      transform:scale(0.8); transition: allow(transform);
      display: inline-block; position: relative;
    }

    &__close {
      position: absolute; transition: allow(transform);
      transform: scale(0); z-index: 9999;
    }

    &--adding, &--added {

      .ui-popin {
        opacity: 1;
        &__content, &__close { transform: none }
      }
    }
  }
}


@if( index($libraries, 'popin') ){
  @include lib-popin;
}