@mixin lib-router{

  .ui-router{
    display: none;
    &--current{ display: block }
    &--animate{ backface-visibility: hidden; animation-duration: $animation-duration; animation-timing-function: $ease-in-out-cubic }
    &--enter{}
    &--leave{}
    &--fade-in{ animation-name: fade-in }
    &--fade-out{ animation-name: fade-out }
    &--slide-from-left{ animation-name: slide-from-right }
    &--slide-from-right{ animation-name: slide-from-right }
    &--slide-to-right{ animation-name: slide-to-left }
    &--slide-right{ animation-name: slide-to-left }
  }
}


@if( index($libraries, 'router') ){
  @include lib-router;
}